{% extends "partials/layout.njk" %}

{% block meta %}
    <meta name="description" content="Explore our blog for helpful study tips, academic insights, and the latest updates on NoteRoom. Find valuable resources to support your HSC journey and enhance your learning experience.">
    <meta name="keywords" content="NoteRoom Blog">
{% endblock %}

{% block title %}
    NoteRoom Blogs
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        <div class="container" onclick="window.location.href='/blogs/{{ blog.route }}'" >
            <div class="blog-card">
                <div class="tags">
                    {% for tag in blog.tags %}
                    <span class="tag">#{{ tag }}</span>
                    {% endfor %}
                </div>
                <img class="blog-img" src="{{ image_path(blog.thm) }}" alt="Blog Image">
                <h3>{{ blog.title }}</h3>
            </div> 
        </div>
    {% endfor %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/blogs.css">
    <link rel="stylesheet" href="/css/blog-template.css">
{% endblock %}
