{% extends "partials/layout.njk" %}

{% block meta %}
    <meta name="description" content="Explore our blog for helpful study tips, academic insights, and the latest updates on NoteRoom. Find valuable resources to support your HSC journey and enhance your learning experience.">
    <meta name="keywords" content="NoteRoom Blog">
{% endblock %}

{% block title %}
    NoteRoom Blogs
{% endblock %}

{% block content %}
    <main>
        <div class="container" onclick="window.location.href='/blog/why-use-noteroom'" >
            {% for i in range(0, 10) %}
                <div class="blog-card">
                    <div class="tags">
                        <span class="tag">#Noteroom</span>
                        <span class="tag">#Study</span>
                        <span class="tag">#HSC</span>
                    </div>
                    <img class="blog-img" src="{{ image_path('why-use-noteroom-banner.jpg') }}" alt="Blog Image">
                    <h3>Why You Should Use Noteroom: The Game-Changer for HSC Students in Bangladesh</h3>
                </div> 
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/blogs.css">
{% endblock %}
