{% extends "partials/layout.njk" %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Discover how NoteRoom helps HSC students in Bangladesh with organized, high-quality study notes, making learning smarter and more efficient." />
    <meta name="keywords" content="{{ header.data }} "/>
    <meta name="author" content="NoteRoom" />

    <!-- Open Graph Tags for Social Media -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ header.data }}">
    <meta property="og:description" content="Discover how NoteRoom helps HSC students in Bangladesh     with organized, high-quality study notes, making learning smarter and more efficient." />
    <meta property="og:image" content="{{ image_path(thm) }}"/> <!-- Replace with an image URL -->
    <meta property="og:url" content="https://noteroom.co/">
    <meta property="og:site_name" content="NoteRoom">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ header.data }}">
    <meta name="twitter:description" content="Discover how NoteRoom helps HSC students in Bangladeshwith organized, high-quality study notes, making learning smarter and more efficient.">
    <meta name="twitter:image" content="{{ image_path(thm)}}" /> <!-- Replace with an image URL -->
    <meta name="twitter:creator" content="Handle">
{% endblock %}

{% block title %}
    {{ header.data }}
{% endblock %}

<!-- Others -->

{% block content %}
<article class="article-container">
    <!-- Top Section -->
    <header class="article-header">
        <div class="article-breadcrumb">
            <nav>
                <a href="{{ breadCrumbs[0][1] }}" class="breadcrumb-main">{{ breadCrumbs[0][0] }}<span>/</span></a>
                {% for breadCrumb in breadCrumbs | rangeSlice(1) %} 
                    <a href="{{ breadCrumb[1] }}" class="breadcrumb-sub">
                        {{ breadCrumb[0] }}
                        {% if not loop.last %}
                            <span>/</span>
                        {% endif %}
                    </a>
                {% endfor %} 
            </nav>
        </div>

        <h1 class="article-title">
            {{ header.data }}
        </h1>

        <div class="article-meta">
            <img
                src="{{ image_path(pfp) }}"
                alt="Author"
                class="author-image"
            />
            <div class="author-info">
                <p class="author-name">{{ by }}</p>
                <p class="publish-date">{{ date }} • <span class="reading-time">{{ rdtime }}</span></p>
            </div>
        </div>
    </header>

    <!-- Cover Image -->
    <div class="article-cover">
        <img src="{{ image_path(thm) }}" alt="{{ header.text }}"/>
    </div>

    <div class="article-body">
        <aside class="article-toc">
            <h2 class="article-toc-title">{{ indexes.text }}</h2>
            <nav>
                <ul>
                    {% for item in indexes.items %}
                        <li><a href="#{{ slugify(item.index) }}">{{ item.index }}</a></li>
                    {% endfor %} 
                </ul>
            </nav>
        </aside>

        <section class="article-content">
            {% for index in indexes.items %}
                <h2 id="{{ slugify(index.index) }}"  class="article-heading--h2">{{ index.title }}</h2>
                {% for content in index.contents %}
                    <div class="article-para">
                      <p class="article-para-text">{{ content | safe }}</p>
                    </div>
                {% endfor %}
            {% endfor %} 
        </section>
    </div>
</article>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/css/blog-template.css">
{% endblock %}
