//- home.pug
extends partials/layout.pug

block title
	| NoteRoom

block styles
	link(rel="stylesheet" href="/css/home.css")

block content
	section.hero.flex-col-center
		.circles#circles(aria-hidden="true")

		.copy.flex-col-center
			h1.headline
				| A social platform designed for
				br
				| making you 
				em smarter
				|  and more creative
			p.tagline
				| Simply put “Be where 
				em Ideas
				|  are”
			button.cta(onclick="window.location.href = 'http://app.noteroom.co/login'")
				| Try NoteRoom

block scripts
	script(src="/js/home.js")
