<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteRoom - Note-sharing Platform for Students</title>
    <meta name="description" content="NoteRoom is Bangladesh's one and only note-sharing platform to make collaboration between students easier">
    <meta name="keywords" content="Noteroom">
    <meta name="author" content="Noteroom Team">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js" defer></script>
    <link rel="stylesheet" href="/css/bar-loader.css">

    <link rel="apple-touch-icon" sizes="180x180" href="\assets\apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="\assets\favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="\assets\favicon-16x16.png">
    <link rel="icon" type="image/png" href="\assets\android-chrome-192x192.png">

    <%- include('partials/links.ejs') %>

</head>
<body>
     <%- include('partials/header.ejs') -%>
      
<section class="hero flex-col-center">
  <!-- Background Circles + Blobs -->
  <div class="circles" id="circles" aria-hidden="true"></div>

  <!-- Copy -->
  <div class="copy flex-col-center">
    <h1 class="headline">
      A social platform designed for<br />
      making you <em>smarter</em> and more creative
    </h1>
    <p class="tagline">Simply put “Be where <em>Ideas</em> are”</p>
    <button class="cta" onclick="window.location.href = 'http://app.noteroom.co/login'">Try NoteRoom</button>
  </div>
</section>




    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    <script src="/js/header.js" defer></script>
    <script src="/js/home.js" defer></script>
</body>
</html>