{% extends "partials/layout.njk" %}

{% block meta %}
    <meta name="description" content="Join the NoteRoom waitlist to be the first to experience NoteRoom.">
    <meta name="keywords" content="NoteRoom Waitlist">
    <meta name="author" content="Noteroom Team">
{% endblock %}

{% block title%}
    Join the NoteRoom Waitlist
{% endblock %}

{% block content %}
    <section class="waitlist-section flex-col-center">
        <div class="waitlist-container flex-col-center">
            <p class="waitlist-subtitle">NoteRoom is under development</p>
            <h1 class="waitlist-headline">We'll be back soon</h1>
            <p class="waitlist-subtitle">If you’d like to get launch updates, join the waitlist below.</p>

            <form class="waitlist-form">
                <input type="email" placeholder="Enter your email" />
                <button type="submit">Join Waitlist</button>
            </form>

            <p class="waitlist-success-msg">You've been added to the waitlist.</p>
        </div>
    </section>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/waitlist.css">
{% endblock %}