@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
p{
    font-family: 'Inter';
    color: #313131;
    font-size: small;
    margin: 0;
}
main {
    color: #000000;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Wrap on small screens */
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
}

.blog-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 350px;
}

.blog-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.blog-card img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
    margin-top: 10px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}


.tag {
    background: #04DBF7;
    color: #000000;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 600;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .blog-card {
        padding: 12px;
    }

    h3 {
        font-size: 16px;
    }

    .tag {
        font-size: 11px;
        padding: 5px 10px;
    }
    .container :active{
        background-color: #c4c4c4;
    }
}
