@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Utility Classes */

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  :root {
    --squid-ink: #06192d;
    --squid-ink-light: #12283d;
  
    --neon-blue: #04dbf6;
    --neon-blue-light: #6cecf9;
  
    --light-gray: #f8f8f8;
  
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
  
    --border-thin: 1px solid var(--light-gray);
    --border-thick: 2px solid var(--light-gray);
  
    --duration-fast: 0.1s;
    --duration-med: 0.2s;
    --duration-def: 0.3s;

        /* CSS HEX */
    --aero: #44C0ECff;
    --black: #000000ff;
    --sapphire: #3D58A7ff;
    --celestial-blue: #4095CEff;
    --celtic-blue: #3E74B9ff;

    /* CSS HSL */
    --aero: hsla(196, 82%, 60%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --sapphire: hsla(225, 46%, 45%, 1);
    --celestial-blue: hsla(204, 59%, 53%, 1);
    --celtic-blue: hsla(214, 50%, 48%, 1);

  }

/* Others Color Values 

SCSS HEX
$aero: #44C0ECff;
$black: #000000ff;
$black-2: #000000ff;
$sapphire: #3D58A7ff;
$celestial-blue: #4095CEff;
$celtic-blue: #3E74B9ff;

SCSS HSL
$aero: hsla(196, 82%, 60%, 1);
$black: hsla(0, 0%, 0%, 1);
$black-2: hsla(0, 0%, 0%, 1);
$sapphire: hsla(225, 46%, 45%, 1);
$celestial-blue: hsla(204, 59%, 53%, 1);
$celtic-blue: hsla(214, 50%, 48%, 1);

SCSS RGB 
$aero: rgba(68, 192, 236, 1);
$black: rgba(0, 0, 0, 1);
$black-2: rgba(0, 0, 0, 1);
$sapphire: rgba(61, 88, 167, 1);
$celestial-blue: rgba(64, 149, 206, 1);
$celtic-blue: rgba(62, 116, 185, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-right: linear-gradient(90deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-bottom: linear-gradient(180deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-left: linear-gradient(270deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-top-right: linear-gradient(45deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-bottom-right: linear-gradient(135deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-top-left: linear-gradient(225deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-bottom-left: linear-gradient(315deg, #44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);
$gradient-radial: radial-gradient(#44C0ECff, #000000ff, #000000ff, #3D58A7ff, #4095CEff, #3E74B9ff);

*/

/* The primary header that has login and sign up button */

*{
  box-sizing: border-box;
}
button{
  cursor: pointer;
}

.header {
    position: sticky;
    top: 10px;
    z-index: 1000;
    background-color: transparent;
    width: 100vw;
    max-width: 99vw;
    min-height: 60px;
    overflow-x: hidden;
    border-radius: 15px;
  }
  
  .header__container-1 {
    width: 100%;
    justify-content: space-between;
    padding: 2px 20px;
  }
  .header__logo {
    gap: 10px;
    cursor: pointer;
  }
  
  .header__logo img {
    max-height: 75px;
    width: auto;
    cursor: pointer;
    border-radius: 15px;
  }
  .header__logo--subtitle {
    font-family: "Georama", "Inter";
    font-family: "Bruno Ace";
    font-size: 1.1rem;
    line-height: 38px;
    letter-spacing: 0.01em;
    font-weight: 500;
  }
  
  .header__nav {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: end;
    padding: 0 15px;
  }

  .nav-list li {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border-radius: 30px;
    cursor: pointer;
    transition: box-shadow var(--duration-med) ease, transform var(--duration-med) ease;
  }
  
  .nav-list li a {
    font-family: "Inter";
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    line-height: 23px;
    letter-spacing: -0.02em;
  }
  
  .nav-list li:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
  }
  
  /* this class is added on the active tab as needed */
  .nav-list li a .active-tab {
    border-bottom: var(--border-thick);
    border-color: var(--squid-ink);
  }

  .nav-list li svg {
    transform: scale(0.6);
  }

  .nav-list li svg path {
    fill: #333;
  }
  /* Auth Buttons */
  .auth-buttons {
    display: flex;
    gap: 15px;
  }
  
  .header__btn {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    letter-spacing: -0.02em;
    border-radius: 20px;
  }
  
  .header__btn.login {
    color: #7b7b7b;
    transition: all var(--duration-med) ease;
    border: rgb(0, 0, 0, 0.01) 1px solid;
  }
  
  .header__btn.login:hover {
    border: rgb(0, 0, 0, 0.15) 1px solid;
  }
  
  .header__btn.login:active {
    background-color: #f4f4f4;
  }
  
  .header__btn.create-account {
    border: rgb(0, 0, 0, 0.15) 1px solid;
    transform: box-shadow var(--duration-def) ease;
    transition: all var(--duration-med) ease;
  }
  
  .header__btn.create-account:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-color: var(--aero);
    background-color: var(--aero);
  }
  
  .header__btn.create-account:active {
    background-color: #f4f4f4;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* || Mobile Nav Related */
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  /* MObile Nav Dropdown */
  
  .mobile-menu {
    position: fixed;
    pointer-events: none;
    transform: translateY(10px);
    opacity: 0;
    top: 60px;
    height: fit-content;
    width: 100vw;
    background: white;
    box-shadow: 0px 24px 40px -11px rgba(0,0,0,0.15);
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .mobile-nav-list li {
    display: flex;;
    width: 100%;
    list-style: none;
    padding: 10px 25px;

  }
  .mobile-nav-list li a {
    font-family: "Inter";
    padding: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .mobile-nav-list li a:hover {
    text-decoration: underline;
  }
  .mobile-nav-list li a:active {
    text-decoration: underline;
  }
  
  .mobile-nav-list .mobile-nav-signup-btn {
    padding: 10px 15px;
    color: white;
    width: 90%;
    max-width: 400px;
    border: none;
    border-color: var(--squid-ink);
    border-radius: 8px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    letter-spacing: -0.02em;
    background: #20808d;
    transition: background-color var(--duration-med) ease,
      box-shadow var(--duration-med) ease, color var(--duration-fast) ease;
  }
  .mobile-nav-signup-btn:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: var(--neon-blue-light);
    color: var(--squid-ink);
  }
  
  /* This class is picked via js selector upon click event to show/hide the menu with subtle transition */
  .show-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  @media (max-width: 1000px) {
    .menu-toggle {
      display: flex;
    }
    .nav-pc {
      display: none;
    }
    .header__btn.create-account {
      display: none;
    }
  }
  @media (max-width: 360px) {
    .header__logo img {
      width: auto;
      height: 50px;
    }
    .header__logo--subtitle {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .header__btn.login {
      padding: 5px 10px;
      font-size: 0.8rem;
    }
    .mobile-nav-list li a {
      font-size: 0.85rem;
    }
  }
  @media (min-width: 361px) and (max-width: 480px) {
    .header__logo img {
      width: auto;
      height: 60px;
    }
    .header__logo--subtitle {
      font-size: 0.95rem;
      font-weight: 600;
    }
    .header__btn.login {
      padding: 5px 10px;
      font-size: 0.85rem;
    }
    .mobile-nav-list li a {
      font-size: 0.9rem;
    }
  }
  